.mine__root {
  background-color: #111111;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mine__container {
  margin-top: 3rem;
}

.mine__container > h2 {
  color: #ffffff;
  text-align: center;
}